/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #black;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
  --box-border: 6px; 
  /* header variables*/
  --header-flex-dir: row;
  --header-padding: px;
  --header-size: 100px;
  --header-font-size: 20px;
  /* main variables*/
  --main-width: 1200px;
  --main-flex-dir: row;
  --map-view-height: 40vh;
  /* form variables */
  --form-flex-div: row;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */
.header {
  justify-content: center;
  height: var(--header-size);
  display: flex;
  flex-direction: var(--header-flex-dir);
  gap: 10px;
  align-items: center;
  background-color: gray;
}

.header__image {
  width: var(--header-size);
  height: var(--header-size);
}



.header__navigation{
  display: flex;
  gap: 8px;
  padding-bottom: var(--header-padding); 
  padding-left: 10px;
  font-size: var(--header-font-size);
}

#header-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ... your code here ... */


/* ### TODO ### Styles for Main Component */
.main {
  font-size: 15px;
  max-width: var(--main-width);
  display: flex;
  flex-direction: var(--main-flex-dir);
  margin-top: 5vh;
  gap: 2vw;
  align-self: center;
}

/* ... your code here ... */


/* ### TODO ### Styles for Tagging component */

#tag-field {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: var(--box-border);
}

#form-div {
  margin: 0 1vw 1vh;
  align-self: center;
  column-gap: 40px;
  display: flex;
  flex-direction: var(--form-flex-dir);
  justify-content: space-between;
  
}



/* ### TODO ### Styles for Discovery component */
#discovery-field {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: var(--box-border);
}

.discovery__wrapper{
  display: flex;
  align-self: center;
  align-items: center;
  height: 80%;
  gap: 10px;
}

.main__discovery{
  flex-grow: 5;
  height: 80vh;
}

.discovery__taglist{
  align-self: flex-start;
  
}

#discoveryResults{
  list-style-type: none;
}

#discoveryResults  li{
  color: rgb(0, 174, 255);
  padding: 3px;
  overflow-wrap: normal;
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 2vh;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  background-color:#cdcdcd;
}

#map{
  margin-top: 2vh;
  align-self: flex-start;
}

#mapView{
  height: var(--map-view-height);
  }
/* ... your code here ... */


/* ### TODO ### Styles for Footer Component */
.footer{
  padding-top: 20px;
  text-align: center;
  height: 60px;
  background-color: #cdcdcd;
  
}
/* ... your code here ... */


/* ### TODO ### Media Queries */
@media (max-width: 850px){
  :root{
  /* header variables*/
  --header-flex-dir: row;
  --header-size: 100px;
  --header-font-size: 20px;
  /* main variables*/
  --main-width: 90vw;
  --main-flex-dir: column;
  --map-view-height: 60vw;
  /* form variables */
  --form-flex-div: row;
  }
}
@media (max-width: 450px){
  :root{
  /* header variables*/
  --header-flex-dir: row;
  --header-size: 15vh;
  --header-font-size: 15px;
  /* main variables*/
  --main-width: 90vw;
  --main-flex-dir: column;
  --map-view-height: 60vw;
  /* form variables */
  --form-flex-div: row;
  }
}
/* ... your code here ... */